@import url(https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i);body {
  background-color: #E6D7C4;
  color: #4C3E4C;
  font-family: 'Lato', sans-serif; }

.wrapper {
  max-width: 20rem;
  margin: auto; }

.composer-list {
  padding: 0; }
  .composer-list li {
    list-style-type: none;
    padding: 0.5rem; }
    .composer-list li .name {
      display: block;
      clear: both; }
    .composer-list li .living, .composer-list li .dead {
      font-size: 80%; }
    .composer-list li .orchestra, .composer-list li .wind-band, .composer-list li .chorus, .composer-list li .chamber, .composer-list li .voice, .composer-list li .opera, .composer-list li .jazz, .composer-list li .film, .composer-list li .video-games, .composer-list li .music-theatre, .composer-list li .songwriting, .composer-list li .electroacoustic, .composer-list li .folk {
      font-size: 80%;
      background-color: rgba(76, 62, 76, 0.2);
      border-radius: 2px;
      margin: 2px;
      padding: 2px; }
    .composer-list li .white, .composer-list li .black, .composer-list li .latinx, .composer-list li .asian, .composer-list li .wana, .composer-list li .south-asian, .composer-list li .american-indian, .composer-list li .other {
      font-size: 80%;
      background-color: rgba(236, 47, 61, 0.2);
      border-radius: 2px;
      margin: 2px;
      padding: 2px; }
    .composer-list li .string-quartet, .composer-list li .wind-quartet, .composer-list li .brass-quintet, .composer-list li .young-band, .composer-list li .young-orchestra, .composer-list li .young-choir, .composer-list li .young-p {
      font-size: 80%;
      background-color: rgba(76, 62, 76, 0.2);
      border-radius: 2px;
      margin: 2px;
      padding: 2px; }
  .composer-list li:nth-child(odd) {
    background-color: #8EBEB5; }
