@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);body {
  background-color: #fdfdfd;
  color: #225762;
  font-family: "Lato", sans-serif;
  font-size: 24px; }

h1#site-title {
  text-align: left;
  font-size: 330%;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin-bottom: 0.3em; }

@media screen and (max-width: 40em) {
  h1#site-title {
    font-size: 270%; } }

.wrapper {
  max-width: 70em;
  margin: auto; }

ul#nav-menu {
  list-style: none;
  padding-left: 0px;
  margin: 0px auto;
  padding: 0.3em; }
  ul#nav-menu li {
    padding: 0.3em;
    font-size: 120%; }

@media screen and (min-width: 38em) {
  ul#nav-menu {
    float: right; } }

a, a:visited {
  color: #2f8fac; }

a:hover, a:active, a:target {
  color: #FF664D; }

.composer-list {
  padding: 0; }
  .composer-list li {
    list-style-type: none;
    padding: 0.5rem; }
    .composer-list li .name {
      display: block;
      clear: both; }
    .composer-list li .living, .composer-list li .dead {
      font-size: 80%; }
    .composer-list li span {
      display: inline-block; }
    .composer-list li .composer-geo {
      display: block;
      clear: both; }

.badge.genre, .badge.demographic, .badge.medium, .badge.gender {
  font-size: 80%;
  background-color: #E3DACF;
  color: #906c43;
  border-radius: 2px;
  margin: 2px;
  padding: 2px; }

.badge.selected {
  box-shadow: inset 0px 0px 0px 2px #906c43; }

.list-wrapper {
  display: block;
  width: 100%;
  clear: both;
  margin-top: 2em; }

.composer-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem; }
  .composer-list li {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    padding: 0.5em;
    background-color: #e8f3f7; }
    .composer-list li .name {
      font-size: 120%;
      grid-column: 1/2;
      grid-row: 1/2;
      margin-bottom: 0.5em; }
    .composer-list li .composer-props {
      grid-column: 2/3;
      grid-row: 1/3; }
    .composer-list li .composer-geo {
      grid-column: 1/2;
      grid-row: 2/3; }
  .composer-list li:hover {
    box-shadow: 3px 3px 3px 0px rgba(34, 87, 98, 0.6); }

@media screen and (min-width: 40em) {
  .composer-list {
    grid-template-columns: repeat(2, 1fr); }
  body {
    font-size: 20px; } }

@media screen and (min-width: 70em) {
  .composer-list {
    grid-template-columns: repeat(3, 1fr); }
  body {
    font-size: 16px; }
  div.inputs {
    padding: 0em; } }

header {
  padding-bottom: 1em;
  display: block;
  clear: both;
  overflow: auto;
  width: 100%; }

input.search {
  font-size: 120%;
  border: 2px solid rgba(34, 87, 98, 0.5);
  font-family: "Lato", sans-serif;
  color: #2f7988;
  max-width: 35em;
  display: block;
  float: left;
  padding: 0.3em; }

div.inputs {
  margin-bottom: 2em;
  display: block;
  clear: both; }

div.filter-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.2em;
  overflow: hidden;
  clear: both;
  padding: 0em 0.5em 0em 1em; }
  div.filter-section h4 {
    margin: 0px;
    text-transform: uppercase;
    font-size: 0.8em;
    color: rgba(34, 87, 98, 0.5);
    letter-spacing: 0.3em;
    text-indent: -0.5em; }

div.filter-section:nth-of-type(n+3) {
  margin-bottom: 1em; }

div.filter-section:nth-of-type(n+1) {
  margin-left: 3px; }

div.filter-section:nth-of-type(n+4) {
  border-left: 3px solid rgba(34, 87, 98, 0.5);
  margin-left: 0px; }

div.filters {
  padding: 1em;
  background-color: #d2e7ef;
  clear: both; }
  div.filters label.filter {
    display: block;
    padding-left: 1em;
    padding-right: 0.5em;
    text-indent: -1em; }
    div.filters label.filter .badge {
      margin-right: 0.4em; }
  div.filters input[type="checkbox"] {
    transform: scale(1.2);
    position: relative;
    top: -0.3em;
    margin-right: 0.4em; }

#filters-heading a {
  text-decoration: none; }

#filters-heading h3 {
  font-weight: normal;
  margin-top: 0px; }
  #filters-heading h3 .icon {
    margin-right: 1em;
    display: inline-block; }

.filters.collapsed span.icon {
  transform: rotate(-90deg);
  transition: all 0.5s; }

.filters span.icon {
  transform: rotate(0deg);
  transition: all 0.5s; }

#filters {
  overflow: hidden;
  max-height: 70em;
  transition: all 0.5s; }

#filters.collapsed {
  max-height: 1.4em;
  transition: all 0.5s; }

@media screen and (min-width: 40em) {
  div.filter-section {
    grid-template-columns: repeat(2, 1fr); }
    div.filter-section h4 {
      grid-column-end: span 2; } }

@media screen and (min-width: 55em) {
  div.filter-section {
    grid-template-columns: repeat(3, 1fr); }
    div.filter-section h4 {
      grid-column-end: span 3; } }

div.columns {
  background-color: #e8f3f7;
  padding: 1em; }
  div.columns h4 {
    margin: 0em auto 0.1em; }
  div.columns .team ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px; }
  div.columns h3:first-child {
    margin-top: 0px; }

@media screen and (min-width: 48em) {
  div.columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4em; } }
