header {
	padding-bottom: 1em;
    display: block;
    clear: both;
    overflow: auto;
    width: 100%;
}

input.search {
	font-size: 120%;
	border: 2px solid transparentize($main-fg, 0.5);
	font-family: $bodyFonts;
	color: lighten($main-fg, 10);
	max-width: 35em;
	display: block;
	float: left;
	padding: 0.3em;
}

div.inputs {
	margin-bottom: 2em;
	display: block;
	// overflow:auto;
	clear: both;
}

div.filter-section {
	width: 100%;
	display: block;
	overflow: hidden;
	clear: both;
	padding-left: 1em;

	h4 {
		margin: 0px;
	    text-transform: uppercase;
	    font-size: 0.8em;
		color: transparentize($main-fg, 0.5);
	    letter-spacing: 0.3em;
		text-indent: -0.5em;
	}
}

div.filter-section:nth-of-type(n+2){
	margin-bottom: 1em;
}

div.filter-section:nth-of-type(n+3){
	border-left: 3px solid transparentize($main-fg, 0.5);
}

div.filters {
	padding: 1em;
	background-color: $filters-bg;

	clear:both;

	label.filter {
		display: block;
		min-width: 19em;
		float: left;

		.badge {
			margin-right: 0.4em;
		}
	}

	input[type="checkbox"] {
		transform: scale(1.2);
		position: relative;
		top: -0.3em;
		margin-right: 0.4em;
	}

}

@media screen and (min-width: 36em) {
	div.filters {
		// grid-template-columns: repeat(2, 1fr);
		// grid-template-columns: repeat( auto-fit, minmax(15em, 1fr) );
	}
}

// @media screen and (min-width: 54em) {
// 	div.filters {
// 		grid-template-columns: repeat(3, 1fr);
// 	}
// }
//
// @media screen and (min-width: 71em) {
// 	div.filters {
// 		grid-template-columns: repeat(4, 1fr);
// 	}
// }
