.list-wrapper {
	display: block;
	width: 100%;
	clear: both;
	margin-top: 2em;
}

.composer-list {
	display: grid;
	grid-template-columns: 1fr;
	// margin: 0.5rem;
	grid-gap: 3rem;

	li {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 2fr 1fr;
		// width: 100%;
		padding: 0.5em;
		background-color: $card-bg;

		.name {
			font-size: 120%;
			grid-column: 1/2;
			grid-row: 1/2;
		}

		.composer-props {
			grid-column: 2/3;
			grid-row: 1/3;
		}

		.composer-geo {
			grid-column: 1/2;
			grid-row: 2/3;
		}
	}

	li:hover {
		box-shadow: 3px 3px 3px 0px transparentize($main-fg, 0.4);
	}

}

@media screen and (min-width: 40em) {
	.composer-list{
		grid-template-columns: repeat(2, 1fr);
	}
	body {
		font-size: $med-screen-font-size;
	}
}

@media screen and (min-width: 70em) {
	.composer-list {
		grid-template-columns: repeat(3, 1fr);
	}
	body {
		font-size: $large-screen-font-size;
	}
	div.inputs {
		padding: 0em;
	}
}
