// NEW colors

$badge-fg: #906c43;
$card-bg: #e8f3f7;
$filters-bg: #d2e7ef;
$active-link: #FF664D;
$link: #2f8fac;
$main-fg: #225762;
$badge-bg: #E3DACF;
$main-bg: #fdfdfd;

// typography

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
$bodyFonts: 'Lato', sans-serif;

$small-screen-font-size: 24px;
$med-screen-font-size: 20px;
$large-screen-font-size: 16px;
