// colors

$bg: #E6D7C4;
$fg: #4C3E4C;
$em1: #FF664D;
$em1a: #EC2F3D;
$em2: #8EBEB5;


// typography

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
$bodyFonts: 'Lato', sans-serif;

$small-screen-font-size: 24px;
$med-screen-font-size: 20px;
$large-screen-font-size: 16px;
