@import 'normalize';
@import 'vars';

body {
	background-color: $main-bg;
	color: $main-fg;
	font-family: $bodyFonts;
	font-size: $small-screen-font-size;
}

.wrapper {
	max-width: 70em;
	margin: auto;

	h1 {
		text-align: left;
		font-size: 330%;
		font-weight: 300;
		letter-spacing: 0.1em;
	    margin-bottom: 0.3em;
	}
}

ul#nav-menu {
	list-style:none;
	padding-left: 0px;
    margin: 0px auto;
	padding: 0.3em;

	li {
		padding: 0.3em;
		font-size: 120%;
	}
}

@media screen and (min-width: 38em) {
	ul#nav-menu { float: right; }
}

// .list-wrapper {
// 	max-width: 20rem;
// 	margin: auto;
//
// }

a, a:visited {
	color: $link;
}

a:hover, a:active, a:target {
	color: $active-link;
}

.composer-list {
	padding: 0;

	li {
		list-style-type: none;
		padding: 0.5rem;

		.name {
			display: block;
			clear: both;
		}

		.living, .dead {
			font-size: 80%;
		}

		span {
			display: inline-block;
		}


		// geography
		.composer-geo {
			display: block;
			clear: both;
		}

	}

}

// Badges? We don't need no stinking badges!
.badge.genre, .badge.demographic, .badge.medium, .badge.gender {
	font-size: 80%;
	background-color: $badge-bg;
	color: $badge-fg;
	border-radius: 2px;
	margin: 2px;
	padding: 2px;

}

.badge.selected {
	box-shadow:inset 0px 0px 0px 2px $main-fg;
}



// GRID STUFF! (Also lots of the responsive logic here.)
@import 'grid-layout';

// FORM STUFF (Raw HTML forms are ugly af.)
@import 'forms';
