@import 'normalize';
@import 'vars';

body {
	background-color: transparentize($bg, 0.9);
	color: $fg;
	font-family: $bodyFonts;
	font-size: $small-screen-font-size;
}

.wrapper {
	width: 100%;

	h1 {text-align: center}
}

// .list-wrapper {
// 	max-width: 20rem;
// 	margin: auto;
//
// }

a, a:visited {
	color: $em2
}

a:hover, a:active, a:target {
	color: $em1;
}

.composer-list {
	padding: 0;

	li {
		list-style-type: none;
		padding: 0.5rem;

		.name {
			display: block;
			clear: both;
		}

		.living, .dead {
			font-size: 80%;
		}

		span {
			display: inline-block;
		}

		// genres
		.orchestra, .wind-band, .chorus, .chamber, .voice, .opera, .jazz, .film, .video-games, .music-theatre, .songwriting, .electroacoustic, .folk {
			font-size: 80%;
			background-color: transparentize($fg, 0.8);
			border-radius: 2px;
			margin: 2px;
			padding: 2px;
		}

		// demographics
		.white, .black, .latinx, .asian, .wana, .south-asian, .american-indian, .other {
			font-size: 80%;
			background-color: transparentize($em1a, 0.8);
			border-radius: 2px;
			margin: 2px;
			padding: 2px;
		}

		// mediums
		.string-quartet, .wind-quartet, .brass-quintet, .young-band, .young-orchestra, .young-choir, .young-piano {
			font-size: 80%;
			background-color: transparentize($fg, 0.8);
			border-radius: 2px;
			margin: 2px;
			padding: 2px;
		}

		// geography
		.composer-geo {
			display: block;
			clear: both;
		}


	}

}

// GRID STUFF! (Also lots of the responsive logic here.)
@import 'grid-layout';

// FORM STUFF (Raw HTML forms are ugly af.)
@import 'forms';
